
<div class="container">

        <h2>Admin page</h2>
        <a href="/users/logout" style="float:right"><button class="btn btn-primary">Log Out</button></a> 

<br>
    <div class="row">
        {{# if exists}}
        <div class="alert alert-danger alert-danger " style="width:70%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error! </strong> User already exists.
        </div>       
        {{/if}}
        <h3>Add User</h3>
        <form action="/users/admin/addUser" method="POST" style="width: 70%">
                 <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="email" required>
                </div>
                <div class="form-group">
                    <input type="text" name="password" class="form-control" placeholder="password" required>
                </div>
                <div class="form-group">
                    <input type="text" name="fname" class="form-control" placeholder="first name" required>                                
                </div>
                <div class="form-group">
                    <input type="text" name="lname" class="form-control" placeholder="last name" required>
                </div>
                <div class="form-group">
                <label for="sel1">User Type:</label>
                <select class="form-control" name="utype">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="admin">Administrator</option>
                    <option value="convener">Convener</option>
                    <option value="organiser">Organiser</option>
                </select>
                </div>
                
            <button type="submit" class="btn btn-primary" style="float:right">Add User</button>
        </form>
    </div>
    <br>
    <div class="row">
        <h3>Accounts</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Firstname</th>         
                <th>Email</th>
                <th>CreatedAt</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {{# each result as |res| }}
            <tr>
                <td>{{ res.uFname }}</td>                
                <td>{{ res.email }}</td>
                <td>{{ res.createdAt }}</td>
                <td>{{ res.uType }}</td>
            </tr>   
            {{/each}}        
            </tbody>
        </table>        

    </div>
</div>
