<div class="row">
  <div class="col">
      <br> <br>   
    <div class="alert alert-success">
            <h4><center>Thank You, you have successfully confirmed your slot!</center></h4>
    </div>

    <br>
    <center>
        <div>
        <iframe width="50%" height="350" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=8%20Wilkie%20Road%2C%20Wilkie%20Edge%2C%20Singapore%20228095+(AppointMate)&amp;ie=UTF8&amp;t=&amp;z=18&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        <a href="https://www.maps.ie/create-google-map/">Create Google Map</a></iframe>
        </div>
        <br>
    </center>

    </div>
</div>