<div class="row">  
    <div class="col"><br><br>
        <div class="alert alert-warning">
            <h3><center>Sorry, you have already confirmed your slot</center></h3>
        </div>
    </div>
</div>