 {{!-- style=" height: auto; overflow: scroll; box-shadow: 0px 0px 15px -2px;border-radius:3px;" --}}
    <br>
    <div class="row">
        <h6>CREATE MEETING</h6>
    </div>
    <div class="row" style=" height: auto; overflow: scroll; box-shadow: 0px 0px 15px -2px;border-radius:3px;">
        <div class="col"><br>           
            <form action="/users/conv/new-meeting" method="post">
                <div class="form-group">            
                    <input type="text" class="form-control" name="eventname" placeholder="Event name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="location" placeholder="Location" required>
                </div>
                <div class="form-group">
                    <textarea rows="3" cols="50" name="description" type="text-area" class="form-control" name="desc" placeholder="Description" required></textarea>
                </div>
                <div class="form-group" style="width:300px">
                    <input type="date" name="eventdate" class="form-control" required>
                </div>   
                <label for="time-slot">Select your time slots:</label>
                <div class="form-group">
                    <input type="time" name="s1start" required/>&nbsp
                    <input type="time" name="s1end" required/>
                    <a href="#" style="color:green"data-toggle="tooltip" data-placement="right" title="Add" id="ad2"><i class="fas fa-plus-circle"></i></a><br>
                </div>
                <div class="form-group">
                    <input type="time" class="t2" name="s2start"/>&nbsp
                    <input type="time" class="t2" name="s2end"/>
                    <a href="#" style="color:green"data-toggle="tooltip" data-placement="right" title="Add" class="t2" id="ad3"><i class="fas fa-plus-circle"></i><br>
                </div>
                <div class="form-group">
                    <input type="time" class="t3" name="s3start"/>&nbsp
                    <input type="time" class="t3" name="s3end"/>
                    <a href="#" style="color:green"data-toggle="tooltip" data-placement="right" title="Add" class="t3" id="ad4"><i class="fas fa-plus-circle"></i></a><br>
                </div>
                <div class="form-group">
                    <input type="time" class="t4" name="s4start"/>&nbsp
                    <input type="time" class="t4" name="s4end"/>
                    <a href="#" style="color:green"data-toggle="tooltip" data-placement="right" title="Add" class="t4" id="ad5"><i class="fas fa-plus-circle"></i></a><br>
                </div> 
                
                <div class="form-group">
                    <input type="time" class="t5" name="s5start"/>&nbsp
                    <input type="time" class="t5" name="s5end"/>            
                </div>         
            <button type="submit" class="btn btn-success" style="float:right">Submit</button><br><br>
            </form>
        </div>
    </div>
<br><br>

<script>
$(document).ready(function(){
    $(".t2").hide();
    $(".t3").hide();
    $(".t4").hide();
    $(".t5").hide();

    $("#ad2").click(function(){
        $(".t2").show();
        $("#ad2").hide();
    });
    $("#ad3").click(function(){
        $(".t3").show();
        $("#ad3").hide();
    })
    $("#ad4").click(function(){
        $(".t4").show();
        $("#ad4").hide();
    })
    $("#ad5").click(function(){
        $(".t5").show();
        $("#ad5").hide();
    })
});

</script>


