
    <div class="row">
        <div class="col">
            <br><br><h6>UPLOAD ATTENDEES</h6>
            <a href="/csv/template.csv" style="float:right">Download template</a>
        </div>
    </div>    
    <div class="row" style=" height: auto; box-shadow: 0px 0px 15px -2px;border-radius:3px;">
        <div class="col">    
            <br><form action="/users/conv/uploadattend/{{meetID}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <img src="/images/excel.png" width="37px" height="37px" margin="10px"> &nbsp;<label for="attendees">Attendee list:</label><br>
                <input type="file" name="filetoupload" class="form-control" accept=".csv" required>
            </div>        
                <input type="submit" class="btn btn-success" style="float: right"/><br><br>
            </form>
        </div>
    </div>
