<div class="container">
    <h3>Convener Dashboard- User: {{email}}</h3><br>
    <a href="/users/conv/new-meeting" style="float:right"><button class="btn btn-primary">create meeting</button></a>
    <br>
    <div style="text-align:center"><h4>Scheduled meetings</h4></div><br>
    <div class="row">        
         <table class="table table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center"><h4>Authorised Organisers</h4></div><br>
    <div class="row" style=" height: 300px; overflow: scroll;">
         <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            {{# each organiser as |org|}}
            <tr>
                <td>{{org.email}}</td>
                <td>{{org.uFname}}</td>
                <td>{{org.uLname}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <form ref='uploadForm'
      id='uploadForm'
      action='/users/conv/dash'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="csvFile" />
        <input type='submit' value='Upload!' />
    </form>
</div>
