<div class="row">
  <div class="col"><br>
    <center style="height:170px"><img src="/images/Logo.png" id="logo"/></center>
  </div>
</div>
<div class="row" style="width:500px; margin:0 auto; height:60px;">  
  <div class="col">   
      {{# if error }}
        <div class="alert alert-danger alert-dismissible"> 
          <button type="button" class="close" data-dismiss="alert">&times;</button>
           <strong>Error!&nbsp;</strong>{{ error }}
        </div>
      {{/ if }}
  </div>
</div> 
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col">
    <form method="POST" id="loginForm" action="/login">
      <div id="form-group">
        <label>Email:</label>
          <input class="form-control" name="email" type="email"  required/>
      </div>
      <div id="form-group">
          <label>Password:</label>
          <input class="form-control" name="password" type="password" required/>
      </div>
      <br/>
      <div style="text-align:center">
        <div>
          <button class="btn btn-info" type="submit" id="loginBtn"/>Log In</button>          
        </div>
        <div>          
          <a href="#"  data-toggle="modal" data-target="#myModal" id="registerBtn">Register</a>
        </div>        
      </div>        
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>


  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h6 class="modal-title">REGISTER</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <strong>Request access:</strong> Please email admin@appointmate.com
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  

