<div class="container">
    <h3>Organiser Dashboard</h3><br>
    <div class="row">
        <h4>User: {{email}}</h4>
    </div>
    <form ref='uploadForm'
      id='uploadForm'
      action='/users/org/dash'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="csvFile" />
        <input type='submit' value='Upload!' />
    </form>
</div>
