<div class="container">
    <div class="row">
        <h2>organiser dashboard</h2>
        <h4>User: {{email}}</h4>
        <a href="/users/logout"><button class="btn btn-primary" style="float:right">Log Out</button></a>
    </div>
</div>
