
/*-- Background wallpaper--*/
body{background:url(/images/back.jpg)}


#logo
 {
    opacity: 0.7;
    filter: alpha(opacity=40); 
    width: 150px;
    height:200px;

}
#logo:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);}
    
/*-- Header --*/
.header
{
	list-style-type: none;
	
}
#h1-top{
    text-align: center;
    margin-right:300px;
    font-family:Helvetica; 
    font-weight: 600;
}
#h1-btm{
    text-align: center;
    font-family:Helvetica; 
    font-weight: 600;
}
#h1-table{
    text-align: center;
    font-family:Helvetica; 
    font-weight: 600;
    padding-left:100px;
}

/*-- Nav bar --*/
.navbar-inverse{
    background-color:#333333;
	width:100%;
	list-style-type: none;
	
}
.btn-group-vertical{
    margin-bottom: 750px;
}
/*-- Side Nav --*/

.btn
{
	border: 6px;
	color: white;
	padding: 14px 28px;
	font-size: 18px;

}

#loginBtn
{
    border-radius: 8px;
    background-color:#BE3D3C;
    color:white;
    font-weight:800px;
    font-size:18px;
    width:70%;
}
#loginBtn:hover{background-color: #333333; color:white;font-weight:800px;}

#registerBtn
{
    border-radius: 8px; 
    background-color:#BE3D3C;
    color:white;
    font-weight:800px;
    font-size:18px;
    width:70%;
}
#registerBtn:hover{background-color: #333333; color:white;font-weight:800px;}


.danger {background-color: #BE3D3C; color:white;}
.danger:hover{background-color: #333333; color: white;}

.btn-success{font-size:12px;border:8px;background-color:#58B957;color:white;}

.btn-delete{font-size:12px;border:8px; background-color:#BE3D3C; color:white;}

.btn-add{font-size:10px;border:1px;background-color: green; text-align:center;}

.btn-new{font-size:12px;border:8px;bolder:2px;color:black;background-color: #BE3D3C;}

.btn-info{background-color:#4C9AFF;margin:10px;}
.btn-info:hover{background-color: #333333; color: white;}

.new:hover {
    background: #333333;
    color: white;
}
.new
{
 border-color: #f44336;
  color: #BE3D3C;
}
.btnn {
      border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
    border-radius:7px;
}

/*--Dropdown--*/
/* Dropdown Button */
.btn-default {
    color:#333333;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #cccccc; 
    font-weight: 600;
    border-radius:10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu a {
    color:  black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {background-color:#BE3D3C;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .btn-default {background-color: #BE3D3C;color:#FFFFFF;}

.btn a{color:white;}

/*--Circle--*/
.circle-text {
display: table-cell;
height: 150px; /*change this and the width
for the size of your initial circle*/
width: 150px;
text-align: center;
vertical-align: middle;
border-radius: 50%;
/*Colors of its*/
border:3px solid black;
background: #BE3D3C;
color: #fff;
font: 18px "Helvetica"; /*change this
for font-size and font-family*/
font-weight: 600;
}

/*--Unavailable Button*/
#soldout{background-color:#cccccc;color:black;}
/*--Add Button--*/
#addButton{color:#00DD00; font-size:30px;}
#addButton:hover{color:#333333;}

/*--Active Sign--*/
#activeYes{font-size:25px; color:#58B957;}

/*--Not Active Sign--*/
#activeNo{font-size:25px; color:#BE3D3C;}

/*--Tool Tip--*/

/*-- for form box  --*/
label{color:#999999;}



/*-- For table --*/
table {
    border-collapse: collapse;
    width: 20%;
    table-layout: auto;

}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 
}
/*-- Form Container --*/
.form-top{margin-left:100px;  table-layout: fixed; text-align-last: center;}

/*-- prevMeeting Container -- ^If needed to fill the empty gap can use this - -*/
.prevMC{margin-left:100px; table-layout: fixed; text-align-last: center; margin-top:-700px; }

/*--Form Btm Container--*/
.form-btm{margin-left:100px; table-layout: fixed; text-align-last: center; }

.formBot{margin-left:700px;table-layout:fixed;margin-top:-600px;}

/*-- Time Slots --*/
#time-slots{
   
    top:250px;
    bottom:250px;
    left:250px;
    right:250px;
}
